<!DOCTYPE html>
<html>
<head>
    <title>Game Result</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/start.css">
    <!-- Socket.IOクライアントライブラリの読み込み -->
    <!-- <script src="/socket.io/socket.io.js"></script> -->
</head>
<body>
    <div class="game-start-container">
        <h1>Game Results</h1>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ score.name }}</td>
                        <td>{{ score.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
    <!-- <script src="../static/script/superUser.js"></script> -->
</body>
</html>
