<!DOCTYPE html>
<html>
<head>
    <title>Game Result</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/gameEnd.css">
</head>
<body>
    <audio id="endSound" src="../static/audio/endBGM.mp3"></audio>
    <h1>Game Results</h1>
    <button id="playButton">音楽を再生(Play music)</button>
    <div class="game-result-container">
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ score.name }}</td>
                        <td>{{ (score.score|float)|round(1) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const playButton = document.getElementById('playButton');
            const bgm = document.getElementById('endSound');
            playButton.addEventListener('click', function (event) {
                event.preventDefault();
                if (bgm.paused) {
                    bgm.play()
                        .then(() => console.log("オーディオの再生を開始しました。"))
                        .catch(error => console.error("オーディオの再生に失敗しました。", error));
                    playButton.textContent = '音楽を停止(Stop music)';
                } else {
                    bgm.pause();
                    playButton.textContent = '音楽を再生(Play music)';
                }
            });
        });
        localStorage.clear();
    </script>
</body>
</html>