<!DOCTYPE html>
<html>
    <head>
        <!-- 文字コードを指定 -->
        <meta charset="UTF-8">
        <!-- スタイルシートの読み込み -->
        <link rel="stylesheet" href="../static/css/style.css">
        <!-- JavaScript ファイルの読み込み -->
        <script src="../static/script/canvas2d.js"></script>
        <script src="../static/script/element.js"></script> 
        <script src="../static/script/script.js"></script>
    </head>
    <body>
        <div class="title-container">
            <h1 class="mochiy-pop-one-regular">計算ゲーム</h1>
        </div>
        <!-- ID 属性を持つ canvas エレメント -->
        <canvas id="main_canvas"></canvas>
        <div id="questions-container" data-questions='{{ questions | tojson | safe }}'></div>
    </body>
</html>