<!DOCTYPE html>
<html>
    <head>
        <!-- 文字コードを指定 -->
        <meta charset="UTF-8">
        <!-- スタイルシートの読み込み -->
        <link rel="stylesheet" href="../static/css/style.css">

        <!-- JavaScript ファイルの読み込み -->
        <script src="../static/script/canvas2d.js"></script>
        <script src="../static/script/element.js"></script> 
        <script src="../static/script/script.js"></script>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    </head>
    <body>
        <div class="title-container">
            <h1 class="mochiy-pop-one-regular">計算ゲーム</h1>
        </div>
        <!-- BGMを追加 -->
        <audio id="correctAnswerSound" src="../static/audio/CorrectAnswer.mp3"></audio>
        <audio id="wrongAnswerSound" src="../static/audio/WrongAnswer.mp3"></audio>
        <audio id="countdownSound" src="../static/audio/Countdown.mp3"></audio>
        <audio id="gameSound" src="../static/audio/game.mp3"></audio>
        <!-- ID 属性を持つ canvas エレメント -->
        <canvas id="main_canvas"></canvas>
        <div id="questions-container" data-questions='{{ questions | tojson | safe }}'></div>
    </body>
</html>