<!DOCTYPE html>
<html>
<head>
    <title>スイカゲーム - スタート画面</title>
    <link rel="stylesheet" href="../static/css/start.css"> <!-- スタイルシートのパスを適切に設定してください -->
</head>
<body>
    <div class="game-start-container">
        <h1>スイカゲーム</h1>
        <img src="../static/images/orange.png" alt="スイカキャラクター"> <!-- キャラクター画像のパスを適切に設定してください -->
        <form id="nameForm">
            <label for="name">名前:</label>
            <input type="text" id="name" name="name" placeholder="あなたの名前">
            <button type="button" id="startGame">ゲームスタート</button>
        </form>
    </div>

    <script src="../static/script/start.js"></script>
</body>
</html>