<!DOCTYPE html>
<html>
<head>
    <title>計算ゲーム - スタート画面</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/superuser.css">
    <!-- Socket.IOクライアントライブラリの読み込み -->
    <!-- <script src="/socket.io/socket.io.js"></script> -->
</head>
<body>
    <div class="game-start-container">
        <h1 class="mochiy-pop-one-regular">計算ゲーム</h1>
        <!-- 通信中の表示用の要素 -->
        <div id="completeSending" style="display: none;">送信完了</div>

        <form id="nameForm">      
            <button type="button" id="send" class="mochiy-pop-one-regular">ゲーム開始</button>
            <button id="deleteDb" class="mochiy-pop-one-regular">DBの削除</button>
            <button id="setNotGameStart" class="mochiy-pop-one-regular">ゲームが始まらないように設定</button>
        </form>
        <h2>Player Count</h2>
        <ul id="playerCount"></ul>
        <h2>Player Names:</h2>
        <ul id="playerList"></ul>
    </div>
    <script src="../static/script/superUser.js"></script>
</body>
</html>