@charset "utf-8";
 
* {
    margin: 0px;
    padding: 0px;
}
 
html, body {
    display: flex;
    flex-direction: column; /* 子要素を縦並びにする */
    justify-content: center; /* 子要素を中央に配置 */
    align-items: center; /* 子要素を中央揃えにする */
    height: 100vh; /* viewport heightを使用して、bodyの高さをビューポートの高さに合わせます。 */
    margin: 0;
    padding: 0;
    background-color: #efa051;
    color: #FF4500;
    font-family: 'Mochiy Pop One', sans-serif;
    overflow-y: auto; /* ウィンドウの高さを小さくしても全体がスクロール可能にする */
}
 
canvas {
    margin: 40px auto;
    border: 1px solid silver;
}

.title-container {
    /*
    width:40%; /* コンテナの幅を画面の30%に設定 */
    margin: 0 auto; /* 左右のマージンを自動で調整して中央揃え */
    background-color: #FFDAB9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* 子要素を中央揃えにする */
    margin-bottom: 15px; /* 下部に隙間を追加 */
    margin-top: 45px;
    z-index: 2; /* テキストボックスとボタンを前面に */
     /* 枠線のスタイル設定 */
    border: 2px solid #FF4500; /* 枠線の色と太さ a*/
    height: 100px; /* 適切な高さを指定 */
}